/*---------- GLOBAL RESET -------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

/* ----------HEADER / LOGO -------*/
.logo {
    background-color: #FFFFFF;
    height: 72px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -----------nav-menu--------*/
nav .menu {
    display: flex;
    list-style: none;
    padding: 10px 20px;
    gap: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

nav .menu a {
    text-decoration: none;
    color: #000000;
}

.menu .btn {
    background-color: #3db870;
    font-weight: 700;
    padding: 12px 16px;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.menu .btn:hover {
    background-color: blue;
}

/* ---------hero section----------*/
#hero .hero-content {
    background-image: url(./img-1/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    padding-top: 200px;
}

#hero .hero-container h6 {
    background-color: #FFFFFF;
    font-size: 16px;
    width: 300px;
    display: inline-flex;
    color: #469165;
    border-radius: 100px;
    padding: 2px 4px;
    margin: 15px auto 0;
    align-items: center;
    justify-content: center;
}

#hero .hero-container h1 {
    margin-top: 20px;
    font-size: 72px;
    color: #FFFFFF;
    text-align: center;
}

.hero-content h1 span {
    color: #3db870;
}

.hero-content p {
    margin-bottom:25px;
    margin-top:25px;
    color: #FFFFFF;
}

/* --------------hero button------------*/
.hero-btn button {
    background-color: #34a061;
    color: #FFFFFF;
    padding: 12px 16px;
    cursor: pointer;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    transition: 0.5s;
}

.hero-btn button:hover {
    background-color: blue;
    color: #fff;
}

.hero-btn .btn {
    background-color: #30b8691e;
    border: 1px solid white;
    margin-left: 10px;
}

/* -------------notes section----------- */
.note-heading h2 {
    font-size: 48px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin: 60px 0 10px;
}

.note-heading p {
    color: #627382;
    line-height: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.note-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.note-box {
    width: 320px;
    height: 250px;
    background-color: #FFFFFF;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.09);
}

.note-box * {
    margin-bottom: 15px;
}

.note-box h2 {
    font-size: 24px;
    font-weight: 700;
}

.note-box p {
    color: #627382;
}

.note-img {
    background-color: #ff5a5a;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
}

.note-img img {
    padding-top: 15px;
    width: 26px;
    color: #FAFAFA;
}

.note-box p i {
    color: #efe7e7;
    width: 40px;
    padding-top: 20px;
}

/*---------------brain section---------- */
.brain-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-top: 80px;
   background-color: #000000;
}

.brain-img img {
    width: 600px;
    height: 600px;
    border-radius: 12px;
    margin-top:20px;
}

.brain-content h2 {
    font-size: 48px;
    color: #001931;
    font-weight: bold;
    margin-bottom: 20px;
}

.brain-content p {
    color: #4db879;
    line-height: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}

.brain-content .brain-p {
    margin-bottom: 40px;
    color: #263136;
    font-size: 15px;
    font-weight: 400;
} 

.brain-list {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}

/*-----------ready section--------*/
#ready {
    background-color: #F7F6F2;
    padding: 80px;
    border-radius: 12px;
}

.ready-content {
    text-align: center;
}

.ready-content h2 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 15px;
}

.ready-content p {
    color: #627382;
    line-height: 24px;
    margin-bottom: 15px;
}

#ready-section .ready-p {
    margin-top: 15px;
}

/* -------------footer section-------------*/
#footer {
    background-color: #001931;
}

.footer-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0 100px;
}

.footer-img img {
    width: 130px;
}

.footer-icon h3 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 22px;
    border: 5px;
}
.footer-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icon i {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: black;
    font-size: 16px;
    margin-left:10px;
    margin-right:10px;
    align-items: center;
    justify-content: center;
}
.icon-group{
    display: flex;
    gap: 20px;
}
.footer-icon h3:hover{
background-color: #ff5a5a;
color: #000;
}
.icon-group i:hover{
    background-color: #ff5a5a;
    color: #000000;
}

/* ------------copyright-------------- */
#copy-right {
    border-top: 1px solid #E5E7EB;
    text-align: center;
    padding: 30px 0 15px;
    color: #FAFAFA;
    line-height: 24px;
}
